<!-- {% extends "jobs/base.html" %} -->
{% load i18n %}
{% load static i18n %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384&#45;ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <!-- <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.min.js' %}"></script> -->

    <div class="container-fluid">
      <div class="row">
        <nav>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="{% url 'overview' %}" data-target="#overviewPage">
              <i class="fa fa-home"></i>Overview</a>
            </li>
            <!-- <li class="nav&#45;item"> -->
            <!--   <a class="nav&#45;link" data&#45;toggle="tab" href="{% url 'query' %}" data&#45;target="#getRealtyOptionsPage"> -->
            <!--   <i class="fa fa&#45;search"></i>Query</a> -->
            <!-- </li> -->
            <li class="nav-item">
              <a class="nav-link active" data-method="post" data-toggle="tab" 
                href="{% url 'viewModelDb_data' %}" 
                data-target="#viewDbModelPage">
              <i class="fa fa-file-text-o"></i>View Db</a>
            </li>
            <!-- <li class="nav&#45;item"> -->
            <!--   <a class="nav&#45;link" data&#45;toggle="tab" href="{% url 'detail' %}" data&#45;target="#propertyDetailPage"> -->
            <!--   <i class="fa fa&#45;file&#45;text&#45;o"></i>Detail</a> -->
            <!-- </li> -->
          </ul>
        </nav>
      </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="overviewPage"></div>
            <div role="tabpanel" class="tab-pane fade" id="getRealtyOptionsPage"></div> 
            <div role="tabpanel" class="tab-pane fade" id="viewDbPage"></div>
            <div role="tabpanel" class="tab-pane fade show active" id="viewDbModelPage"></div>
            <div role="tabpanel" class="tab-pane fade" id="propertyDetailPage"></div>
            <div role="tabpanel" class="tab-pane fade" id="testPage"></div> 
            <div role="tabpanel" class="tab-pane fade" id="test_Page2"></div> 
        </div>
    </div>

    <script>
      // handle clicking of tabs
      // change tab highlight and load html for selected tab
      // https://stackoverflow.com/questions/36982744/bootstrap-tab-ajax-load-content-when-page-loaded
      $('[data-toggle="tab"]').click(function(e) {
          var $this = $(this),
              loadurl = $this.attr('href'),
              targ = $this.attr('data-target');

          console.log('loadurl: ' + loadurl)
          console.log('this: ' + this)
          console.log('targ: ' + targ)
          
          // $.post(loadurl, function(data) {
          $.get(loadurl, function(data) {
             $(targ).html(data);
          });

          // $(this).tab('show');
          // $('#overviewPage').tab('show');
          // return false;

      });

      // load viewDbModelPage as default landing page
      // this is mostly because debugging this page the most. 
      // for production, default should be overview page
      $(document).ready(function(){
          // $('[data-toggle="tab"]:first').click();
          $('[data-target="#viewDbModelPage"]').click();
      });

    </script>

           <!-- $.post(loadurl, function(data) { -->
           <!-- if (loadurl == '/realty/viewModelDb_data/') { -->
           <!--   console.log('targ 1 : in here') -->
           <!--   $.post(loadurl, function(data) { -->
           <!--     $(targ).html(data); -->
           <!--   }); -->
           <!-- } else { -->
           <!--   console.log('targ 2 : in here') -->
           <!--   $.get(loadurl, function(data) { -->
           <!--     $(targ).html(data); -->
           <!--   }); -->
           <!-- } -->

{% endblock %}
