<!-- myapp/mymodel_list.html -->
{% extends 'realty/base.html' %}
{% load static i18n %}

<!-- {% block title %} -->
<!--   Jason -->
<!-- {% endblock title %} -->
<!--  -->
<!-- <div class="container"> -->
  
{% block content %}

    {{ datatable }}

{% endblock content %}

<!-- </div> -->
<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css"> -->
<!-- <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.min.js' %}"></script> -->
