<!DOCTYPE html>
<br>
<h4>Overview Page</h4> 
<p class="text-justify">
GetRealty is a project that collects data from County Appraisal District and
Tax Appraisal sites and stores data in a database.  (For now, this is a simple
sqlite3 file)

<br><br>
The project started as a standalone perl script, that scraped web data and
stored information in an XLS file.  Soon after, the database was added to
control the flow of data. Now, the service was added as a django web app so
data can be hosted on a server and accessed from anywhere, including mobile
devices 

<h4>Code</h4> 
The backend is written in python and the front end is a Django application.
<br><br>
<a class="clickable" href="https://github.com/jfrerich/django_getrealty">django application</a>
<br>
<a class="clickable" href="https://github.com/jfrerich/getrealty">python backend</a>
<br><br>

<h4>Enhancements</h4> 
I am actively working on this project and will add additional functions
including some of the following:
<br>
<br>

<ul>
  <li>Edit notes from the datatable</li>
  <li>Query data from CAD sites by submitting from the web</li>
  <li>User login storage of unique notes</li>
  <li>Unique user notes</li>
  <li>Save queries for future reference</li>
  <li>Drop-down data validation to filter table</li>
  <li>Detail page which shows individual property information</li>
</ul>
<br>
<br>

</p>
