<!DOCTYPE html>
<br>
<h4>Overview Page</h4> 
<p class="text-justify">
GetRealty is a project that collects data from County Appraisal District and
Tax Appraisal sites and stores data in a database.  (For now, this is a simple
sqlite3 file)

<br><br>
The project started as a standalone perl script, that scraped web data and
stored information in a XLS file.  Soon after, the database was added to
control the flow of data and now the service was added as a django web app so
data can be hosted on a server and accessed from anywhere and on any device
even mobile.

<h4>Code</h4> 
The backend is written in python and the front end is a Django application.
<br><br>
<a class="clickable" href="https://github.com/jfrerich/django_getrealty">django application</a>
<br>
<a class="clickable" href="https://github.com/jfrerich/getrealty">python backend</a>
<br><br>

<h4>Enhancements</h4> 
I am actively working on this project and will add many additional functions
including some of the following:

<ul>
  <li>Edit notes from the datatable</li>
  <li>Query data from CAD sites but submitting from the web</li>
  <li>User login storage of unique notes</li>
</ul>
<br>
<br>

</p>
