<!DOCTYPE html>

<h1>propertydetail.html</h1> 

<h4>Table 1</h4> 

<p>This page will be the landing page for a click on the Rnumber in the View
Properties Tab.  The page will take a single Rnumber and layout the data so it
is all visible on one page and easy for user to view, as opposed to scrolling
across entire datatable.</p>

              {% for column in datatable %}
                  <th>{{ column.label }}</th>
              {% endfor %}

              <br/>
              <br/>
              jason {{ jason }}
              <br/>
              <br/>
              detailview {{ detailview.compute_context }}
{% for name, value in detailview.get_fields %}
  {% if value %}
    {{ name }} => {{ value }}
  {% endif %}
{% endfor %}
