{% load static i18n %}
<html>

<head>
    <!-- <title>{% block title %}{% endblock title %}</title> -->
    {% block static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

      <title>{% block page_title %}{% endblock %}</title>
      <meta name="description" content="{% block description %}{% endblock %}">
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <meta name="application-name" content="core-Net.uk" />
      {# Bootstrap #}
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
              integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
              crossorigin="anonymous"></script>

      {# jQuery #}
      <!-- <script src="https://code.jquery.com/jquery&#45;3.3.1.min.js" -->
      <!--         integrity="sha256&#45;FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" -->
      <!--         crossorigin="anonymous"></script> -->

      {# datatables.js #}
      <!-- Load dependencies -->
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

      {# django-datatable-view #}
      <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>
      <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.min.js' %}"></script>

      <script type="text/javascript" charset="utf8">
          // datatableview.auto_initialize = true;
      </script>

    {% endblock static %}
      <script>
          $(document).ready(function(){
              var common_options = {
                "bStateSave": true,
                "scrollCollapse": true,
                dom: "flrtip",
                scroller: true,
                scrollX: true,
                // "pagingType": "full_numbers",
                // "columnDefs": [
                //     {"className": "dt-center", "targets": [3,4,9,10,11]}
                //   ],
                'rowCallback' : function(row, data, index) {

                    // r_num
                    var column_num  = 1
                    if(/M.*/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#BFECC7');
                    } else {
                        $('td:eq(' + column_num + ')',row).css('background-color', '#B8B8B8');
                    }

                    // Property Interest
                    var column_num  = 3
                    if(/Not Vetted/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFF381');
                    } else if(/Vetting/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    } else if(/Vetted - Other/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF5B01');
                    } else if(/Vetted - No Good/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#D80608');
                    } else if(/Vetted - Need to Call/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#8FC502');
                    } else if(/Owner Called - No contact/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8E02');
                    } else if(/Owner Called - Low Interest/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#015912');
                    } else if(/Owner Called - High Interest/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#1DAE15');
                    } else if(/Owner Called - Will not sell/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FE9D3E');
                    } else if(/Owner Called - Negotiating/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#8EC5FF');
                    } else if(/Prop - Sold/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFC502');
                    } else if(/Prop - Bought/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#45DE4D');
                    }

                    if(data.Maps___map== 'n/a'){ // map
                        $(row).find('td:eq(7)').css('background-color', '#FFC502');
                    }

                    // PctToAss
                    var column_num  = 15
                    if(data[column_num] < 5){ 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#BFECC7');
                    } else if(data[column_num] >= 5 && data.Tax_Due_xx_PctToAss <= 20) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFC502');
                    } else if(data[column_num] > 20){ 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    }

                    // Different_xx_Addr
                    var column_num  = 21 
                    if(/^0/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    } else if(/^1/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#BFECC7');
                    } else if(data[column_num] == 'n/a') { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFC502');
                    }

                    // Different_xx_Zip
                    var column_num  = 22 
                    if(data[column_num] == 0) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    } else if(data[column_num] == 1) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#BFECC7');
                    } else if(data[column_num] == 'n/a') { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFC502');
                    }

                    // Different_xx_State
                    var column_num  = 23 
                    if(data[column_num] == 0) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    } else if(/1 - \S\S/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#BFECC7');
                    } else if(data[column_num] == 'n/a') { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFC502');
                    }

                    // NHS_imp
                    var column_num  = 24 
                    if(data[column_num] == 1) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#BFECC7');
                    } else if(data[column_num] == 0) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    }

                    $('td:eq(28)',row).css('background-color', '#B8B8B8'); // Appraised___AppPctOfMax
                    $('td:eq(33)',row).css('background-color', '#B8B8B8'); // Assessed___AssPctOfMax
                    $('td:eq(38)',row).css('background-color', '#B8B8B8'); // ImpNHS___LastPctOfMax
                    $('td:eq(43)',row).css('background-color', '#B8B8B8'); // IMPHS___ihsAppPctOfMax
                    $('td:eq(48)',row).css('background-color', '#B8B8B8'); // LandHS___lhsAppPctOfMax
                    $('td:eq(53)',row).css('background-color', '#B8B8B8'); // LandNHS___lnhsAppPctOfMax

                    // PctDiffAddr
                    var column_num  = 60 
                    if(/^1/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FBECC7');
                    } else if(/^0/.test(data[column_num])) { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FF8EC5');
                    } else if(data[column_num] == 'n/a') { 
                        $('td:eq(' + column_num + ')',row).css('background-color', '#FFC502');
                    }
                  }
              };
              var datatable = datatableview.initialize($('#mytable'), common_options);
              console.log($(datatable))


          });

          $('#mytable').on('click', 'tbody td', function() {
            // when click on r_num, take user to detail page for better look at
            // details of property.
            
            // only allow clicking click on r_num column to trigger page
            // redirectr
            if ($(this).index() != 1) {
              return;
            }

            //get textContent of the TD
            // console.log('TD cell textContent : ', this.textContent)

            // change to propertyDetailPage
            $(".tab-pane").removeClass("active show");
            $("#propertyDetailPage").addClass("active");
            $('[data-target="#propertyDetailPage"]').click();
          })
      </script>


    {# {% block css %}{% endblock %} #}

    {# {% block extra_head %}{% endblock %} #}

    {% block content %}{% endblock %}
</head> 
