<!DOCTYPE html>
      <!-- <main role="main" class="col&#45;sm ml&#45;sm&#45;auto col&#45;md&#45;10 pt&#45;3"> -->
<h1>Build Query For Properties</h1>
<form>
  <div class="form-group row">
    <label for="inputRnumbers" class="col-sm col-form-label">Rnumbers</label>
    <div class="col-sm-10">
      <input type="rnumbers" class="form-control" id="inputRnumbers" placeholder="Rnumbers">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputSubdivision" class="col-sm col-form-label">Subdivisions</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="Subdivisions" aria-describedby="emailHelp" placeholder="Enter Subdivisions">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCounty" class="col-sm col-form-label">Counties</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="Countiess" aria-describedby="emailHelp" placeholder="Enter Counties">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMinAcres" class="col-sm col-form-label">Min Acres</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="MinAcres" aria-describedby="emailHelp" placeholder="Enter Min Acres">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMaxAcres" class="col-sm col-form-label">Max Acres</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="MaxAcres" aria-describedby="emailHelp" placeholder="Enter Max Acres">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMinValue" class="col-sm col-form-label">Min Value</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="MinValue" aria-describedby="emailHelp" placeholder="Enter Min Value">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMaxValue" class="col-sm col-form-label">Max Value</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="MaxValue" aria-describedby="emailHelp" placeholder="Enter Max Value">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>

  <hr class="style2">

  <div class="form-group row">
    <label for="inputSqlSearch" class="col-sm col-form-label">SQL Search</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="SqlSearch" aria-describedby="emailHelp" placeholder="Enter SQL Search">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputSqlWhere" class="col-sm col-form-label">SQL Where</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="SqlWhere" aria-describedby="emailHelp" placeholder="Enter SQL Where">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      <!-- </main> -->
