{% extends "jobs/base.html" %}
{% load i18n %}

{% block content %}

  <div class="container-fluid">
    <div style="margin-top: 10px" class="row">
      <nav class="sidebar col-lg-2 d-none d-lg-block">

        <div class="sidebar-sticky">

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="{% url 'overview' %}" data-target="#overviewPage">
              <i class="fa fa-home"></i>Overview</a>
            </li>
            <li class="nav-item">
              <hr/>
              <a class="nav-link" data-toggle="pill" href="{% url 'query' %}" data-target="#getRealtyOptionsPage">
              <i class="fa fa-search"></i> Query Properties </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="{% url 'viewDb' %}" data-target="#viewDbPage">
              <i class="fa fa-file-text-o"></i> View Properties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="{% url 'detail' %}" data-target="#propertyDetailPage">
              <i class="fa fa-file-text-o"></i> Property Detail </a>
            </li>
            <li class="nav-item">
              <hr/>
              <a class="nav-link" data-toggle="pill" href="{% url 'testpage' %}" data-target="#testPage">
              <i class="fa fa-life-ring"></i> test_page.html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="{% url 'testPage2' %}" data-target="#test_Page2">
              <i class="fa fa-life-ring"></i> testPage2.html</a>
            </li>
          </ul>

        </div>

      </nav>

      <main role="main" class="ml-lg-auto col-lg-10">
        <div class="tab-content col-lg-10 visibility">
            <div role="tabpanel" class="tab-pane" id="overviewPage"></div>
            <div role="tabpanel" class="tab-pane" id="getRealtyOptionsPage"></div> 
            <div role="tabpanel" class="tab-pane" id="viewDbPage"></div>
            <div role="tabpanel" class="tab-pane" id="propertyDetailPage"></div>
            <div role="tabpanel" class="tab-pane" id="testPage"></div> 
            <div role="tabpanel" class="tab-pane" id="test_Page2"></div> 
        </div>
        </main>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      // window.$ = window.jquery = require("jquery");
      // window.popper = require("popper.js");
      // require("bootstrap");

      // handle clicking of pills
      // change pill highlight and load html for selected pill
      // https://stackoverflow.com/questions/36982744/bootstrap-tab-ajax-load-content-when-page-loaded
      $('[data-toggle="pill"]').click(function(e) {
          // alert('clicked', e.target.href)
          // e.preventDefault()
          var $this = $(this),
              loadurl = $this.attr('href'),
              targ = $this.attr('data-target');

          console.log('loadurl: ' + loadurl)
          console.log('this: ' + this)
          console.log('targ: ' + targ)

          $.get(loadurl, function(data) {
             $(targ).html(data);
          });

    // $('a[href="#passive_order_categories"]').tab('show');
        
          var junk = "'a[href=" + $this.attr('data-target') + "]'"
          var junk = "a[href=" + $this.attr('data-target') + "]"
          console.log(junk)
          $($(junk)).tab('show');
          // $this.tab('show');
          return false;
      });

    </script>

{% endblock %}
