{% extends "jobs/base.html" %}
{% load i18n %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <div class="container-fluid">
      <div class="row">
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link show active" data-toggle="pill" href="{% url 'overview' %}" data-target="#overviewPage">
              <i class="fa fa-home"></i>Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="{% url 'query' %}" data-target="#getRealtyOptionsPage">
              <i class="fa fa-search"></i>Query</a>
            </li>
            <!-- <li class="nav&#45;item"> -->
            <!--   <a class="nav&#45;link" data&#45;toggle="pill" href="{% url 'viewDb' %}" data&#45;target="#viewDbPage"> -->
            <!--   <i class="fa fa&#45;file&#45;text&#45;o"></i>View</a> -->
            <!-- </li> -->
            <li class="nav-item">
              <a class="nav-link" data-method="post" data-toggle="pill" href="{% url 'viewModelDb_data' %}" data-target="#viewDbModelPage">
              <i class="fa fa-file-text-o"></i>View Db</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="{% url 'detail' %}" data-target="#propertyDetailPage">
              <i class="fa fa-file-text-o"></i>Detail</a>
            </li>
            <!-- <li class="nav&#45;item"> -->
            <!--   <a class="nav&#45;link" data&#45;toggle="pill" href="{% url 'testpage' %}" data&#45;target="#testPage"> -->
            <!--   <i class="fa fa&#45;life&#45;ring"></i>test_page.html</a> -->
            <!-- </li> -->
            <!-- <li class="nav&#45;item"> -->
            <!--   <a class="nav&#45;link" data&#45;toggle="pill" href="{% url 'testPage2' %}" data&#45;target="#test_Page2"> -->
            <!--   <i class="fa fa&#45;life&#45;ring"></i>testPage2.html</a> -->
            <!-- </li> -->
          </ul>
        </nav>
      </div>

      <div class="row">
        <!-- <main role="main" class="ml&#45;lg&#45;auto"> -->
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade" id="overviewPage"></div>
              <div role="tabpanel" class="tab-pane fade" id="getRealtyOptionsPage"></div> 
              <div role="tabpanel" class="tab-pane fade" id="viewDbPage"></div>
              <div role="tabpanel" class="tab-pane fade" id="viewDbModelPage"></div>
              <div role="tabpanel" class="tab-pane fade" id="propertyDetailPage"></div>
              <div role="tabpanel" class="tab-pane fade" id="testPage"></div> 
              <div role="tabpanel" class="tab-pane fade" id="test_Page2"></div> 
          </div>
        <!-- </main> -->
      </div>
    </div>

      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script>

      // handle clicking of pills
      // change pill highlight and load html for selected pill
      // https://stackoverflow.com/questions/36982744/bootstrap-tab-ajax-load-content-when-page-loaded

      $('[data-toggle="pill"]').click(function(e) {
          var $this = $(this),
              loadurl = $this.attr('href'),
              targ = $this.attr('data-target');

          console.log('loadurl: ' + loadurl)
          console.log('this: ' + this)
          console.log('targ: ' + targ)

          // $.post(loadurl, function(data) {
          $.get(loadurl, function(data) {
             $(targ).html(data);
          });
          
          $this.tab('show');
          return false;

      });

      // $(document).ready(function(){
      //     $('[data-toggle="pill"]:first').click();
      // });

    </script>


{% endblock %}
