{% extends "realty/base.orig.html" %}
{% load i18n staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
  <!-- <script src="{% static "realty/realty_testmodel.js" %}"></script> -->


  <script type="text/javascript">

    // translations for datatables
    var dt_language = {
        "emptyTable":     "{% trans "No data available in table" %}",
        "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
        "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
        "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
        "loadingRecords": "{% trans "Loading..." %}",
        "processing":     "{% trans "Processing..." %}",
        "search":         "{% trans "Search:" %}",
        "zeroRecords":    "{% trans "No matching records found" %}",
        "paginate": {
            "first":      "{% trans "First" %}",
            "last":       "{% trans "Last" %}",
            "next":       "{% trans "Next" %}",
            "previous":   "{% trans "Previous" %}"
        },
        "aria": {
            "sortAscending":  "{% trans ": activate to sort column ascending" %}",
            "sortDescending": "{% trans ": activate to sort column descending" %}"
        }
    }

    var VIEWDB_LIST_JSON_URL = '{% url "viewdb_list_json" %}';

      // https://stackoverflow.com/questions/35547647/how-to-make-datatable-row-or-cell-clickable
      $('#viewdbtable').on('click', 'tbody td', function() {
        //get textContent of the TD
        console.log('TD cell textContent : ', this.textContent)

        $(".tab-pane").removeClass("active in");
        $("#propertyDetailPage").addClass("active in");
        $('a[data-target="#propertyDetailPage"]').tab('show');
        return false;
      })

    $(document).ready(function() {

      $('#viewdbtable').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this, {
            buttons: { label: '&gt;', fn: function () { this.submit(); } }
        } );
      } );

      $('#viewdbtable').dataTable({
          dom: "flrtip",
          language: dt_language,  // global variable defined in html
          order: [[ 0, "desc" ]],
          lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
          scroller: true,
          scrollX: true,
          searching: true,
          processing: true,
          serverSide: true,
          stateSave: true,
          // fixedColumns: {
          //   leftColumns: 3,
          // },
          ajax: {
            dataType: "json", 
            contentType: "application/json",
            url: VIEWDB_LIST_JSON_URL},
          columnDefs: [
              {
                orderable: true,
                searchable: true,
                className: "center",
                targets: [0, 1, 2, 3]
              },
          ],
          'rowCallback': function(row, data, index){

            // $("thead ").css("border-right: 1px solid #ddd");
            // $(row).css('background-color', '#B8B8B8');
            // window.alert('jason - TEST row=' + row + 'data=' + data.rpg)

            // r_num
            if(/^M/.test(data.r_num)){ 
                $('td:eq(0)',row).css('background-color', '#BFECC7');
            } else {
                $('td:eq(0)',row).css('background-color', '#B8B8B8');
            }

            // Property Interest
            if(/Not Vetted/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#FFF381');
            } else if(/Vetting/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#FF8EC5');
            } else if(/Vetted - Other/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#FF5B01');
            } else if(/Vetted - No Good/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#D80608');
            } else if(/Vetted - Need to Call/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#8FC502');
            } else if(/Owner Called - No contact/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#FF8E02');
            } else if(/Owner Called - Low Interest/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#015912');
            } else if(/Owner Called - High Interest/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#1DAE15');
            } else if(/Owner Called - Will not sell/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#FE9D3E');
            } else if(/Owner Called - Negotiating/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#8EC5FF');
            } else if(/Prop - Sold/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#FFC502');
            } else if(/Prop - Bought/.test(data[1])) { 
                $('td:eq(1)',row).css('background-color', '#45DE4D');
            }

            if(data.Maps_xx_map == 'n/a'){ // map
                $(row).find('td:eq(8)').css('background-color', '#FFC502');
            }

            // PctToAss
            if(data[13] < 5){ 
                $('td:eq(13)',row).css('background-color', '#BFECC7');
            } else if(data[13] >= 5 && data.Tax_Due_xx_PctToAss <= 20) { 
                $('td:eq(13)',row).css('background-color', '#FFC502');
            } else if(data[13] > 20){ 
                $('td:eq(13)',row).css('background-color', '#FF8EC5');
            }

            // Different_xx_Addr
            if(/^0/.test(data[19])) { 
                $('td:eq(19)',row).css('background-color', '#FF8EC5');
            } else if(/^1/.test(data[19])) { 
                $('td:eq(19)',row).css('background-color', '#BFECC7');
            } else if(data[19] == 'n/a') { 
                $('td:eq(19)',row).css('background-color', '#FFC502');
            }

            // Different_xx_Zip
            if(data[20] == 0) { 
                $('td:eq(20)',row).css('background-color', '#FF8EC5');
            } else if(data[20] == 1) { 
                $('td:eq(20)',row).css('background-color', '#BFECC7');
            } else if(data[20] == 'n/a') { 
                $('td:eq(20)',row).css('background-color', '#FFC502');
            }

            // Different_xx_Zip
            if(data[21] == 0) { 
                $('td:eq(21)',row).css('background-color', '#FF8EC5');
            } else if(/1 - \S\S/.test(data[21])) { 
                $('td:eq(21)',row).css('background-color', '#BFECC7');
            } else if(data[21] == 'n/a') { 
                $('td:eq(21)',row).css('background-color', '#FFC502');
            }

            // NHS_imp
            if(data[22] == 1) { 
                $('td:eq(22)',row).css('background-color', '#BFECC7');
            } else if(data[22] == 0) { 
                $('td:eq(22)',row).css('background-color', '#FF8EC5');
            }
            $('td:eq(26)',row).css('background-color', '#B8B8B8'); // Appraised_xx_AppPctOfMax
            $('td:eq(31)',row).css('background-color', '#B8B8B8'); // Assessed_xx_AssPctOfMax
            $('td:eq(36)',row).css('background-color', '#B8B8B8'); // ImpNHS_xx_LastPctOfMax
            $('td:eq(41)',row).css('background-color', '#B8B8B8'); // IMPHS_xx_ihsAppPctOfMax
            $('td:eq(46)',row).css('background-color', '#B8B8B8'); // LandHS_xx_lhsAppPctOfMax
            $('td:eq(51)',row).css('background-color', '#B8B8B8'); // LandNHS_xx_lnhsAppPctOfMax

            // PctDiffAddr
            if(/^1/.test(data[58])) { 
                $('td:eq(58)',row).css('background-color', '#FBECC7');
            } else if(/^0/.test(data[58])) { 
                $('td:eq(58)',row).css('background-color', '#FF8EC5');
            } else if(data[58] == 'n/a') { 
                $('td:eq(58)',row).css('background-color', '#FFC502');
            }

          },
        });

    });

  </script>

{% endblock %}

{% block content %}
  <table id="viewdbtable" class="datatable display compact nowrap">
    <thead>
      <tr style="text-align: center;">
        <th colspan="2"></th>
        <th style="background-color: #757575; border-right:1px solid #000" colspan="4">Links</th>
        <th style="background-color: #757575; border-right:1px solid #000" colspan="2">Maps</th>
        <th colspan="2"></th>
        <th style="background-color: #757575; border-right:1px solid #000" colspan="3">Prop_Details</th>
        <th style="background-color: #757575; border-right:1px solid #000" colspan="2">Tax_Due</th>	
        <th colspan="1"></th>
        <th style="background-color: #757575; border-right:1px solid #000" colspan="3">TaxDates</th>
        <th style="background-color: #757575; border-right:1px solid #000" colspan="3">Different	</th>
        <th colspan="2"></th>
      </tr>
      <tr style="border-right:1px border-top:1px solid #000; background-color:#B8B8B8">
        <th>{% trans "r_num" %}</th>
        <!-- <th>{% trans "rpg" %}</th> -->
        <th>{% trans "Property_Interest" %}</th>
        <th>{% trans "BillsF" %}</th>
        <th>{% trans "DetF" %}</th>
        <th>{% trans "HistF" %}</th>
        <th>{% trans "DataF" %}</th>
        <th>{% trans "GIS" %}</th>
        <th>{% trans "Map" %}</th>
        <th>{% trans "NOTES" %}</th>
        <th>{% trans "Subd" %}</th>
        <th>{% trans "Acres" %}</th>
        <th>{% trans "AssessVal" %}</th>
        <th>{% trans "AssessMinDue" %}</th>
        <th>{% trans "PctToAss" %}</th>
        <th>{% trans "TotAmtDue" %}</th>
        <th>{% trans "DatePulled" %}</th>
        <th>{% trans "OldestDue" %}</th>
        <th>{% trans "LastPaid" %}</th>
        <th>{% trans "LastYrPaid" %}</th>
        <th>{% trans "Addr" %}</th>
        <th>{% trans "Zip" %}</th>
        <th>{% trans "State" %}</th>
        <th>{% trans "NHS_imp" %}</th>
        <th>{% trans "InstallYr" %}</th>
        <th>{% trans "Num" %}</th>
        <th>{% trans "Last" %}</th>
        <th>{% trans "AppPctOfMax" %}</th>
        <th>{% trans "AppLastVal" %}</th>
        <th>{% trans "AppMaxVal" %}</th>
        <th>{% trans "AppMaxAmt" %}</th>
        <th>{% trans "AppMaxYr" %}</th>
        <th>{% trans "AssPctOfMax" %}</th>
        <th>{% trans "AssLastVal" %}</th>
        <th>{% trans "AssMaxVal" %}</th>
        <th>{% trans "AssMaxAmt" %}</th>
        <th>{% trans "AssMaxYr" %}</th>
        <th>{% trans "LastPctOfMax" %}</th>
        <th>{% trans "LastVal" %}</th>
        <th>{% trans "MaxVal" %}</th>
        <th>{% trans "MaxAmt" %}</th>
        <th>{% trans "MaxYr" %}</th>
        <th>{% trans "ihsPctOfMax" %}</th>
        <th>{% trans "ihsLastVal" %}</th>
        <th>{% trans "ihsMaxVal" %}</th>
        <th>{% trans "ihsMaxAmt" %}</th>
        <th>{% trans "ihsMaxYr" %}</th>
        <th>{% trans "lhsPctOfMax" %}</th>
        <th>{% trans "lhsLastVal" %}</th>
        <th>{% trans "lhsMaxVal" %}</th>
        <th>{% trans "lhsMaxAmt" %}</th>
        <th>{% trans "lhsMaxYr" %}</th>
        <th>{% trans "lnhsPctOfMax" %}</th>
        <th>{% trans "lnhsLastVal" %}</th>
        <th>{% trans "lnhsMaxVal" %}</th>
        <th>{% trans "lnhsMaxAmt" %}</th>
        <th>{% trans "lnhsMaxYr" %}</th>
        <th>{% trans "Curr" %}</th>
        <th>{% trans "Max" %}</th>
        <th>{% trans "PctDiffAddr" %}</th>
        <th>{% trans "PropAddr" %}</th>
        <th>{% trans "OwnerAddr" %}</th>
        <th>{% trans "OwnerName" %}</th>
        <th>{% trans "LegalDesc" %}</th>
      </tr>
    </thead>
  </table>
{% endblock %}
