<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&amp;amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- <style ="text/css" class="init"> </style> -->

		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.6/css/select.dataTables.min.css">

		<link rel="stylesheet" href="../node_modules/datatables.net-dt/css/jquery.dataTables.css">

		<link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css"></link>

		<link rel="stylesheet" href="../public/css/editor.bootstrap4.css">
		<link rel="stylesheet" href="../public/css/editor.bootstrap4.min.css">

    <!-- My CSS Settings -->
    <link rel="stylesheet" href="css/mystyles.css">

    <!-- load jquery -->
		<script src="../node_modules/jquery/dist/jquery.js"></script>
		<script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../node_modules/tether/dist/js/tether.min.js"></script>

    <!-- DATATABLES -->
		<script src="../node_modules/datatables.net/js/jquery.dataTables.js"></script>
		<script src="../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>

		<script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>

		<script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>

    <script src="../public/js/dataTables.editor.js"></script>
    <script src="../public/js/dataTables.editor.min.js"></script>

    <script src="../public/js/editor.bootstrap4.js"></script>
    <script src="../public/js/editor.bootstrap4.min.js"></script>

    <!-- these were moved out of table.js because clicking on tab that
         loads datatables starts barfing that they have already been declared.
         Declare them in index.html <head> only once!
    -->
    <script>
      let knex = require('knex');
      let db = knex({
          client: 'sqlite3',
          connection: {
            filename: "./db/sql.sqlite"
          },
      });
      let router = require('express').Router();
      let {
          Editor,
          Field,
          Validate,
          Upload,
          Format,
          Options
      } = require("datatables.net-editor-server");

      let bodyParser = require( 'body-parser' );
      let express = require( 'express' );
      let bb = require( 'express-busboy' );
      require('source-map-support').install();

      let app = express();
    </script>

    <title>Dashboard - GetRealty2</title>
  </head>
  <body>

    <header>
			<nav id="navtop-placeholder"class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<script>
					$('#navtop-placeholder').load('navbartop.html');
				</script>
			</nav>
		</header>

    <div class="container-fluid">
      <div style="margin-top: 10px" class="row">
        <nav class="sidebar col-lg-2 d-none d-lg-block bg-light">

          <div class="sidebar-sticky">

            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="overview.html" data-target="#overviewPage">
                <i class="fa fa-home"></i> Overview </a>
              </li>
              <li class="nav-item">
                <hr/>
                <a class="nav-link" data-toggle="pill" href="getRealtyOptions.html" data-target="#getRealtyOptionsPage">
                <i class="fa fa-search"></i> Query Properties </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="viewDb.html" data-target="#viewDbPage">
                <i class="fa fa-file-text-o"></i> View Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="propertydetail.html" data-target="#propertyDetailPage">
                <i class="fa fa-file-text-o"></i> Property Detail </a>
              </li>
              <li class="nav-item">
                <hr/>
                <a class="nav-link" data-toggle="pill" href="test_page.html" data-target="#testPage">
                <i class="fa fa-life-ring"></i> test_page.html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="testPage2.html" data-target="#test_Page2">
                <i class="fa fa-life-ring"></i> testPage2.html</a>
              </li>
            </ul>

          </div>

        </nav>

        <main role="main" class="ml-lg-auto col-lg-10">
          <div class="tab-content col-lg-10 visibility">
              <div role="tabpanel" class="tab-pane" id="overviewPage"></div>
              <div role="tabpanel" class="tab-pane" id="getRealtyOptionsPage"></div> 
              <div role="tabpanel" class="tab-pane" id="viewDbPage"></div>
              <div role="tabpanel" class="tab-pane" id="propertyDetailPage"></div>
              <div role="tabpanel" class="tab-pane" id="testPage"></div> 
              <div role="tabpanel" class="tab-pane" id="test_Page2"></div> 
          </div>
        </main>

      </div>
    </div>

    <script>
      // initially activate the first tab..
      // $('#testPage2').tab('show');
      // return false;

      // You can also require other files to run in this process
      // require('./renderer.js');
      window.$ = window.jquery = require("jquery");
      window.popper = require("popper.js");
      require("bootstrap");

      // handle clicking of pills
      // change pill highlight and load html for selected pill
      // https://stackoverflow.com/questions/36982744/bootstrap-tab-ajax-load-content-when-page-loaded
      $('[data-toggle="pill"]').click(function(e) {
          // alert('clicked', e.target.href)
          var $this = $(this),
              loadurl = $this.attr('href'),
              targ = $this.attr('data-target');

          console.log('loadurl: ' + loadurl)
          console.log('this: ' + this)
          console.log('targ: ' + targ)

          $.get(loadurl, function(data) {
             $(targ).html(data);
          });

          $this.tab('show');
          return false;
      });

    </script>

  </body>
</html>


